@import './_settings/_include';
@import './_settings/_reset';

:root {
  --color-font: #3c4a60;
  --color-link: #0a9b94;
  --color-bg: #f7f7f7;
  --color-title-bg: #dbe2e9;
  --color-header: #efede0;
}

[data-theme="dark"] {
  --color-font: #eee;
  --color-link: #0a9b94;
  --color-bg: #354256;
  --color-title-bg: #516177;
  --color-header: #1b222c;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.7;
  color: $c_font;
  font-family: $font_family;
  word-break: normal;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%!important;
  background-color: $c_bg;
  transition: color $duration,
              background-color $duration;
  @include sp {
    font-size: 1.6rem;
  }
}

a {
  color: $c_font;
  text-decoration: none;
  transition: color $duration;
}

.g-button {
  text-align: center;
  a {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    font-weight: 700;
    padding: .5em 1em;
    color: $c_btn_text;
    background-color: $c_btn_bg;
    border-radius: .5em;
    transition: color $duration, background-color $duration;
    &:hover {
      background-color: $c_btn_hover;
    }
  }
}