@import '../_settings/_include';

.blogList {
  color: $c_font;
  margin-bottom: 3em;
}

.blogItem {
  width: 100%;
  padding: 1em 0;
  &+ .blogItem {
    border-top: 1px solid $c_title_bg;
  }
  a:hover {
    color: $c_link;
  }
  h1 {
    display: inline-block;
  }
}

.blogText {
  .title {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: .25em;
    letter-spacing: -.03em;
  }
  .category {
    padding-left: 1em;
  }
}

// 一覧 タイトル
.blogListTitle {
  font-size: 4rem;
  line-height: 1.4;
  margin-bottom: .5em;
}