@import '../_settings/_include';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em 0;
  border-bottom: 1px solid $c_title_bg;
  @include sp {
    margin-bottom: 1.2em;
  }
}

.title {
  margin: 1em 0 .5em;
  svg {
    display: block;
    width: 350px;
    fill: $c_font;
    @include sp {
      width: 270px;
    }
  }
}

// Home
.header.headerIsHome {
  border-bottom: none;
  margin-bottom: 0;
  .title {
    margin: 1em 0;
  }
}