@import '../_settings/_include';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 10px 20px 10px 30px;
  background-color: var(--color-header);
  transition: background-color $duration;
  @include sp {
    margin-bottom: 1.2em;
  }
}

.title,
.link {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.link:hover {
  color: $c_link;
  transition: color $duration;
}

.logo {
  display: block;
  width: 36px;
  height: 36px;
  margin-right: .5em;
}