@import '../_settings/_include';

.flexWrap {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
}

.flexSet {
  flex: 1 0 auto;
}

// main/aside
.col2 {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
}
@include pc {
  .col2 {
    display: flex;
    justify-content: space-between;
    @include tab {
      padding: 0 15px;
    }
    @include sp {
      padding: 0 15px;
    }
    .left {
      width: calc(80% - 2em);
    }
    .right {
      width: 20%;
    }
  }
}
@include tab {
  .col2 {
    .left {
      width: calc(80% - 1.5em);
    }
  }
}

// ナビゲーション
.nav {
  @include sp {
    margin-top: 5em;
    padding-top: 1em;
    border-top: 1px solid $c_title_bg;
  }
  dl {
    margin-top: 1em;
    dt {
      font-weight: 700;
      margin-bottom: .1em;
    }
    small {
      font-size: 1.4rem;
      line-height: 1.5;
      display: block;
      text-indent: -.6em;
      padding-left: .8em;
      &::before {
        content: '- ';
      }
    }
  }
  // カテゴリー一覧
  .categoryList {
    li {
      &+li {
        border-top: 1px solid $c_title_bg;
      }
      a {
        display: block;
        padding: .5em .75em;
        transition: color $duration, background-color $duration;
        &:hover {
          background-color: $c_title_bg;
        }
      }
    }
  }
  .categoryCount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    padding: .25em .5em;
    line-height: 1;
    font-size: 1.2rem;
    border-radius: 50%;
    color: #3c4a60;
    background-color: rgb(224, 224, 224);
  }

  // タグ一覧
  .tagList {
    font-size: 1.6rem;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 .5em .5em 0;
      a {
        display: block;
        color: $c_link;
        line-height: 1.5;
        padding: .05em .2em;
        border: 1px solid $c_link;
        border-radius: .5em;
      }
    }
  }
}